---
---

$header-heading-color: #c17d11;
$header-bg-color: #888a85;
$header-bg-color-secondary: #555753;
$section-headings-color: #4e9a06;
$body-link-color: #3465a4;
$body-text-color: #2e3436;

@import "{{ site.theme }}";
