---
---

$header-heading-color: #204a87;
$header-bg-color: #8ae234;
$header-bg-color-secondary: #729fcf;
$section-headings-color: #eeeeec;
$body-link-color: #3465a4;
$body-text-color: #2e3436;

@import "{{ site.theme }}";
